body {
  font-family: "Montserrat";
}
.color {
  color: #31a5ac;
  margin-top: 20px;
}

.text-right {
  text-align: right;
}
.register-banner {
  width: 80%;
}
.register-from > * {
  margin-bottom: 10px;
}
